# 依存関係周り

venv
./venv
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyi
**/*.pyz
**/*.pyw

# IDE周り

.vscode
.helloworld
.clinerules
.cursor

# model

./models
models

.helloworld
.helloworld/*
.helloworld/**

# データとテスト用ファイル

app/backend/data/
app/backend/data/db/
app/backend/data/db/*.db
app/backend/tests/*.pdf
.pytest_cache

